@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    /* background-color: black; */
}

body.modal-open{
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
  }


.vstack{
    display: flex;
    flex-direction: row;
}

.hstack{
    display: flex;
    flex-direction: column;
}
ul>li{
    list-style-type: disc;
    margin-left: 23px;
}
ol>li{
    list-style-type: decimal;
    margin-left: 28px;
}

ul, ol{
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

